<html>
  <head>
      <title>The Humble Developer</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/font-awesome.css" />
      <link rel="stylesheet" type="text/css" href="/stylesheets/index.css" />
  </head>
  <body>
    <header>
      <div>
        <a href="https://github.com/jonathanhefner" class="social button"><i class="icon-github"></i></a
        ><a href="http://www.linkedin.com/in/jonathanhefner" class="social button"><i class="icon-linkedin"></i></a>
      </div>
      
      <div>
        <a href="https://github.com/jonathanhefner/humble__gae_py" class="nav button">Source</a
        ><a href="/jonathan-hefner.pdf" class="nav button">R&eacute;sum&eacute;.pdf</a>
      </div>
    </header>
      
    <article class="content">
      <section class="splash">
        <img src="/images/logo.png" class="logo" alt="Logo" />

        <a href="mailto:jonathan.hefner@gmail.com" class="hire button"><i class="icon-thumbs-up"></i>&nbsp&nbsp;Hire!</a>

        <div class="shelf">
          <img src="/images/shelf.png" alt="Work Hard, Kick Ass, Across Time and Space, Build Something Awesome" />
          <a href="http://en.wikipedia.org/wiki/Harvest_Moon_%28video_game%29" title="Harvest Moon" class="work-hard"></a>
          <a href="http://en.wikipedia.org/wiki/Bastion_%28video_game%29" title="Bastion" class="kick-ass"></a>
          <a href="http://en.wikipedia.org/wiki/Chrono_Trigger" title="Chrono Trigger" class="across-time"></a>
          <a href="http://en.wikipedia.org/wiki/SimCity_2000" title="SimCity 2000" class="build-something"></a>
        </div>
      </section>

      <section class="copy">
        <h1>The Humble Developer</h1>
        <h2>and Why He Should Join Humble Bundle</h2>
        
        <p><strong>He believes.</strong> He believes in the awesomeness and potential more awesomeness of Humble Bundle.  There is a reason Humble Bundle is fun, and a reason that purchasing a Bundle gives you a warm fuzzy feeling inside.  It's because Humble Bundle provides a legitimate way for users to pay for what we want, <i>in the way we want it.</i>  There's no hassle of DRM.  There's no system or vendor lock-in.  There's no buyer's remorse because one of the games wasn't what you'd hoped it would be&mdash;"The other games were still great, plus I supported charity!"  There's no guilt for pirating.  There's no worry about losing your copy of the game.  There's just the stuff we like and the chance to support its creators, so they'll make more stuff we like.</p>
        
        <p><strong>And he gets it.</strong>  He gets it like Humble Bundle really gets it.  There are other sites following HB's lead, offering indie bundles, and their existence is most welcome.  Their existence provides friendly competition, which leads to innovation, and their existence further validates the market.  But they don't seem to entirely get it&mdash;not like Humble Bundle does.  Cross-platform, 100% DRM-free, pay-only-what-you-want, always-available entertainment.  It is the future.</p>
        
        <p>So, what worthwhile skills does he have? Let's take a quick look:</p>
        
        <div class="insert skills">
          <div class="numbers">
            <dl>
              <dt>Years of Experience</dt>
              <dd>6</dd>
              <dt>Web Platforms Experienced</dt>
              <dd>3</dd>
              <dt>Web Platforms Experienced, Including This</dt>
              <dd>4</dd>
              <dt>Hours to Complete This</dt>
              <dd>15</dd>
              <dt>Nifty Semantic HTML+CSS Tricks</dt>
              <dd>3</dd>
              <dt>Humble Bundles Purchased</dt>
              <dd>4 &amp; counting</dd>
            </dl>
          </div>
        
          <div class="chart">
            <h3>Skills</h3>
            <figure>
              <img src="/charts/skills" alt="Skills Breakdown" />
              <figcaption class="legend">
                <dl>
                  <dt class="series1"> </dt><dd>Python</dd>
                  <dt class="series2"> </dt><dd>Ruby</dd>
                  <dt class="series3"> </dt><dd>Desire to work at Humble Bundle</dd>
                </dl>
              </figcaption>
            </figure>
          </div>
          
          <div class="list">
            <h3>More Skills</h3>
            <ol>
              <li>JavaScript, jQuery
              <li>CSS(3), HTML(5)
              <li>Rails, HAML, SASS
              <li>SQL
              <li>algorithms
              <li>performance optimization
              <li>C
              <li>data mining
              <li>Hadoop, map-reduce
              <li>API/UI design
            </ol>
          </div>
        </div>
        
        <!--
        <p>Please consider the following:</p>
        
        <div class="insert questions"></div>
        --> 
        </div>
      </section>
    </article>
    
    <footer>
      <a href="mailto:jonathan.hefner@gmail.com">Contact Me</a> &bull; 
      <a href="/jonathan-hefner.pdf">R&eacute;sum&eacute; [PDF]</a> &bull; 
      <a href="https://github.com/jonathanhefner">GitHub</a> &bull; 
      <a href="http://www.linkedin.com/in/jonathanhefner">LinkedIn</a> &bull; 
      <a href="https://github.com/jonathanhefner/humble__gae_py">Source Code</a>
    </footer>
  </body>
</html>
